/C2KD/ave/utils/data/AVE_Dataset/
/C2KD/ave/results/our/
/C2KD/ave/wandb/
/C2KD/ave/results/
/C2KD/ave_new/results/
/C2KD/ave_new/utils/data/AVE_Dataset/
/C2KD/ave_new_unpair/results/
/C2KD/cramed/CREMA-D/
/C2KD/ave_new/wandb/
/C2KD/ave_new_unpair/wandb/
/C2KD/ave_unpair_ginger/results/
/C2KD/ave_unpair_ginger/wandb/
/C2KD/ave_unpair_consider/results/
/C2KD/ave_unpair_consider/wandb/

/C2KD/ravvdess_unpair/results/
# /C2KD/ravvdess_unpair/credentials.json
# /C2KD/ravvdess_unpair/token.json
/C2KD/ravvdess_unpair/download.py
/C2KD/ravvdess_unpair/download1.py
/C2KD/ravvdess_unpair/wandb/
/C2KD/ravvdess_unpair/utils/data/

/MFH/ravdess/results/
# /MFH/ravdess/credentials.json
# /MFH/ravdess/token.json
/MFH/ravdess/download.py
/MFH/ravdess/download1.py
/MFH/ravdess/wandb/
/MFH/ravdess/data/
